<div class="container" style="width: 400px">
  <form method="POST" class="form text-center" action="<%=`/${currentUser.id}/update?_method=PUT`%>">
    <h2>Edit Your Info</h2>
    
    <!-- First and Last Name Inputs -->
    <input
      type="text"
      class="form-control m-3"
      name="first_name"
      id="inputfirst_name"
      value="<%= user.first_name %>"
      placeholder="First"
      autofocus
    />
    <input
      type="text"
      class="form-control m-3"
      name="last_name"
      id="inputlast_name"
      value="<%= user.last_name %>"
      placeholder="Last"
    />
    
    <!-- Email Input -->
    <input
      type="email"
      class="form-control m-3"
      name="email"
      id="inputemail"
      value="<%= user.email %>"
      placeholder="Email"
      required
    />
    
    <!-- Company Name Input -->
    <input
      type="text"
      class="form-control m-3"
      name="company_name"
      id="inputcompany_name"
      value="<%= user.company_name || '' %>"
      placeholder="Company Name"
    />
    
    <!-- Submit Button -->
    <button type="submit" class="btn btn-outline-dark m-2">UPDATE</button>
  </form>
</div>
