<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Accepted</title>
</head>
<body>
    <h1>Congratulations, <%= first_name %> <%= last_name %>!</h1>

    <p>We are pleased to inform you that your application for the <strong><%= job_title %></strong> position at <strong><%= job_company %></strong> has been accepted.</p>

    <p>We will be in touch soon with further details regarding the next steps.</p>

    <p>In the meanwhile, if you have any comments or questions, please feel free to share them with us.</p>
    <p>
      <a href="http://localhost:3000/talent/application-feedback?applicationId=<%= applicationId %>&token=<%= feedbackToken %>">
        Click here to provide feedback
      </a>
    </p>
    
    <p>We look forward to working with you!</p>

    <p>Best regards,</p>
    <p><%= job_company %></p>
</body>
</html>
