<table class="table mt-4 mb-5">
  <tr>
    <th>Talent Name</th>
    <td><% talent.first_name %> <% talent.last_name %></td>
  </tr>
  <tr>
    <th>Email</th>
    <td><%= talent.email %></td>
  </tr>
  <tr>
    <th>Phone</th>
    <td><%= talent.phone %></td>
  </tr>

  <tr>
    <th>Address</th>
    <td><%= talent.address || "N/A" %></td>
  </tr>
  <tr>
    <th>Date of Birth</th>
    <td><%= talent.date_of_birth || "N/A" %></td>
  </tr>
  <tr>
    <th>About</th>
    <td><%= talent.about || "N/A" %></td>
  </tr>
  <tr>
    <th>Education</th>
    <td><%= talent.education || "N/A" %></td>
  </tr>
  <tr>
    <th>Skills</th>
    <td><%= talent.skills || "N/A" %></td>
  </tr>
  <tr>
    <th>Languages</th>
    <td><%= talent.languages || "N/A" %></td>
  </tr>
  <tr>
    <th>Socials</th>
    <td><%= talent.socials || "N/A" %></td>
  </tr>
  <tr>
    <th>CV</th>
    <td><%= talent.cv || "N/A" %></td>
  </tr>
  <tr>
    <th>Projects</th>
    <td><%= talent.projects || "N/A" %></td>
  </tr>
  <tr>
    <th>Certificates</th>
    <td><%= talent.certificates || "N/A" %></td>
  </tr>
</table>

</div>