<h2>
  <div>
    <%= currentUser.first_name %>
    <%= currentUser.last_name %>
  </div>
</h2>

<table class = "table mt-4 mb-5">

  <tr>
    <th>Email</th>
    <td><%= currentUser.email %></td>
  </tr>
  <tr>
    <th>Phone</th>
    <td><%= currentUser.phone %></td>
  </tr>

  <tr>
    <th>Address</th>
    <td><%= currentUser.address || "N/A" %></td>
  </tr>
  <tr>
    <th>Date of Birth</th>
    <td><%= formatDate(currentUser.date_of_birth) %>
  </td>
  </tr>
  <tr>
    <th>About</th>
    <td><%= currentUser.about || "N/A" %></td>
  </tr>
  <tr>
    <th>Education</th>
    <td><%= currentUser.education || "N/A" %></td>
  </tr>
  <tr>
    <th>Skills</th>
    <td><%= currentUser.skills || "N/A" %></td>
  </tr>
  <tr>
    <th>Languages</th>
    <td><%= currentUser.languages || "N/A" %></td>
  </tr>
  <tr>
    <th>Socials</th>
    <td><%= currentUser.socials || "N/A" %></td>
  </tr>
  <tr>
    <th>CV</th>
    <td><%= currentUser.cv || "N/A" %></td>
  </tr>
  <tr>
    <th>Projects</th>
    <td><%= currentUser.projects || "N/A" %></td>
  </tr>
  <tr>
    <th>Certificates</th>
    <td><%= currentUser.certificates || "N/A" %></td>
  </tr>
  <tr>
    <th>Created At</th>
    <td>
      <% if (currentUser.created_at) { %>
          <%= formatDate(currentUser.created_at) %>
      <% } else { %>
          N/A
      <% } %>
  </td>
  </tr>
</table>

<a href="<%= `/talent/${currentUser.id}/edit` %>" class="btn btn-light mt-1"
  >Edit Your Info</a
>

<div class="mt-4">
  <div>
    <a
      href="<%= `/${currentUser.id}/delete?_method=DELETE` %>"
      onclick="return confirm('Are you sure you want to delete your account?')"
      class="btn btn-danger mt-1"
      >Delete Account</a
    >
  </div>
</div>
